
button, div, form, input {
	margin: left;
	margin-top: 0.75em;
}

html, body {
	height: 100%;
	position: relative;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-image: url('../img/burgers.jpg');

	}

	body::after {
		opacity: 0.5;
	}

h1 {
	letter-spacing: 15px;
	font-size: 5em;
	font-weight: bold;
	color: #aa4a4a;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
}

input[type="submit"]:hover {
	border-radius: 2em;
    background-color: grey; 
	-webkit-appearance: none;
  }
	
 input[type="text"] {
	background-color: #e0ebea;
	border-color: white; 

}


button {
	padding: 10px;
	color: white;
	border-radius: 10px;
	margin-bottom: 10px;
    background-color: #aa4a4a;
	border-color: black; 
	opacity: .65;
}

button:hover {
	background-color: grey; 
}

input[type="submit"]  {
	font-weight: bold;
	border: 1px solid black;
	background-color:grey;
	color: white;
	width: 110px;
	height: 70px;
	border-radius: 1.5em;
	transition: all 0.2s;
	margin:0 auto;
}